@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --black: #111;
  --white: #fff;
  --purple: rgb(111, 22, 129);
  --red: rgb(155, 20, 20);
  --orange: rgb(218, 115, 19);
  --yellow: rgb(252, 213, 39);
}
body {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------
#                            Header
--------------------------------------------------------------*/

.Header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  font-size: 3vh;
  background-color: var(--black);
  color: var(--white);
  z-index: 1;
}

.Logo {
  font-size: 4vh;
  position: absolute;
  left: 0;
  margin-left: 10vh;
  transition: all ease 0.4s;
  cursor: pointer;
}

.Logo:hover {
  transform: scale(1.2);
}

.Botoes {
  position: absolute;
  right: 0;
  margin-right: 10vh; 
}

.Botao1 {
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 3.2vh;
  padding-top: 3.2vh;
  transition: all ease 0.2s;
  cursor: pointer;
}
.Botao1:hover {
  background-color: var(--purple);
}

.Botao2 {
  padding-left: 3vh;
  padding-right: 4vh;
  padding-bottom: 3.2vh;
  padding-top: 3.2vh;
  transition: all ease 0.2s;
  cursor: pointer;
}
.Botao2:hover {
  background-color: var(--red);
}

.Botao3 {
  padding-left: 3vh;
  padding-right: 4vh;
  padding-bottom: 3.2vh;
  padding-top: 3.2vh;
  transition: all ease 0.2s;
  cursor: pointer;
}
.Botao3:hover {
  background-color: var(--orange);
}

.Botao4 {
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 3.2vh;
  padding-top: 3.2vh;
  transition: all ease 0.2s;
  cursor: pointer;
}
.Botao4:hover {
  background-color: var(--yellow);
}

/*--------------------------------------------------------------
#                         Hero Section
--------------------------------------------------------------*/

.HeroSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top, #111 1%, transparent 40%);
  align-items: center;
  object-fit: contain;
  user-select: none;
}

.Background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.Titulo {
  font-size: 9vh;
}

.SubTitulo {
  font-size: 4vh;
}


/*--------------------------------------------------------------
#                         Grid Section
--------------------------------------------------------------*/

.GridSection {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: var(--black);
  user-select: none;
}

.GridTitulo {
  display: flex;
  padding-top: 9vh;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
}

.FullGrid {
  display: grid;
  align-items: center;
  margin-top: 4vh;
  margin-left: 9vh;
  margin-right: 9vh;
  padding-bottom: 9vh;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 4vh;
}

.Grid1 {
  background-color: var(--purple);
  border-radius: 2vh;
}
.TituloGrid1 {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}
.TextGrid1 {
  display: flex;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
}

.Grid2 {
  background-color: var(--red);
  border-radius: 2vh;
}
.TituloGrid2 {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}
.TextGrid2 {
  display: flex;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
}

.Grid3 {
  background-color: var(--orange);
  border-radius: 2vh;
}
.TituloGrid3 {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}
.TextGrid3 {
  display: flex;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
}

.Grid4 {
  background-color: var(--yellow);
  border-radius: 2vh;
}
.TituloGrid4 {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}
.TextGrid4 {
  display: flex;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
}

.Grid5 {
  background-color: var(--purple);
  border-radius: 2vh;
}
.TituloGrid5 {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}
.TextGrid5 {
  display: flex;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
}

.Grid6 {
  background-color: var(--red);
  border-radius: 2vh;
}
.TituloGrid6 {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}
.TextGrid6 {
  display: flex;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
}

.Grid7 {
  background-color: var(--orange);
  border-radius: 2vh;
}
.TituloGrid7 {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}
.TextGrid7 {
  display: flex;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
}

.Grid8 {
  background-color: var(--yellow);
  border-radius: 2vh;
}
.TituloGrid8 {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}
.TextGrid8 {
  display: flex;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
}

/*--------------------------------------------------------------
#                         Text Section
--------------------------------------------------------------*/


.TextSection {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: var(--black);
  user-select: none;
}

.TituloText {
  display: flex;
  padding-top: 7vh;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
}

.Text {
  display: flex;
  font-size: 2.5vh;
  text-align: justify;
  margin-top: 4vh;
  margin-left: 7vh;
  margin-right: 7vh;
  padding-bottom: 13vh;
}

/*--------------------------------------------------------------
#                       Footer Section
--------------------------------------------------------------*/

.Footer {
  display: flex-inline;
  height: 12vh;
  text-align: center;
  background-color: var(--black);
}

.Instagram,
.Linkedin,
.Github {
  height: 5vh;
  width: auto;
}

.Copyright {
  font-size: 3vh;
}

/*--------------------------------------------------------------
#                      Responsive Medias
--------------------------------------------------------------*/


@media (max-width:1200px) {

  .FullGrid {
    display: grid;
    align-items: center;
    margin-top: 4vh;
    margin-left: 9vh;
    margin-right: 9vh;
    padding-bottom: 9vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 4vh;
  }

}

@media (max-width:1000px) {

  .FullGrid {
    display: grid;
    align-items: center;
    margin-top: 4vh;
    margin-left: 9vh;
    margin-right: 9vh;
    padding-bottom: 9vh;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 4vh;
  }

}

@media (max-width: 625px) {

  .Botoes {
    display: none;
  }
  .Toggle1,
  .Toggle2,
  .Toggle3 {
    background-color: var(--white);
    height: 0.5vh;
    width: 5vh;
    margin: 1vh auto;
  }

  .MenuToggle {
    position: absolute;
    line-height: 10vh;
    right: 0;
    width: 2vh;
    height: 1vh;
    margin-right: 12vh;
    margin-top: 2.5vh;
  }

}

@media (max-width:500px) {

  .FullGrid {
    display: grid;
    align-items: center;
    margin-top: 4vh;
    margin-left: 9vh;
    margin-right: 9vh;
    padding-bottom: 9vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-gap: 4vh;
  }

}

@media (max-width:465px) {

  .Titulo {
    font-size: 8vh;
  }
  
  .SubTitulo {
    font-size: 3vh;
  }
}

@media (max-width:355px) {

  .Titulo {
    font-size: 7vh;
  }
  
  .SubTitulo {
    font-size: 2vh;
  }
}
